/* @media (max-width: 1280px) {
} */
@media (max-width: 1920px) {
  * {
    margin: 0;
    padding: 0;
  }
  .H1 {
    display: flex;
    /* text-transform: uppercase; */
    height: auto;
  }
  #H1 {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    display: flex;
    float: left;
  }
  #heading {
    margin: auto;
    word-wrap: break-word;
    font-size: 36px;
    font-family: "Caveat", cursive;
  }

  #slogan {
    font-size: 18px;
  }

  .topnavbar {
    /* background-color: rgba(54, 149, 228, 0.897); */
    background-color: rgba(73, 80, 31);
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .topnav {
    padding: 10px 20px;
    margin: 0 5px;
  }

  .topnav:hover {
    transition: 1s;
    /* background-color: rgba(13, 61, 167, 0.986); */
    background-color: rgba(171, 161, 4);
  }

  .navA {
    text-decoration: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .active {
    background-color: rgba(171, 161, 4);
  }

  #footer {
    background-image: linear-gradient(
      to right,
      rgb(90, 99, 38),
      rgb(166, 182, 75),
      rgb(90, 99, 38)
    );
    color: rgb(4, 49, 39);
    text-align: center;
    width: 100vw;
    position: relative;
    margin-top: 8px;
    padding: 10px 0;
  }
}
